body {
    background-color: aquamarine;
    margin: 30px auto;
}

#title {
    text-align: center;
}

#main {
    background: white;
    border: 0px solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.25em;
}

#description {
    margin: 10px auto;
    text-align: center;
}

.radio, .checkbox {
    padding-left: 20px;
}

.button {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .left {
        text-align: right;
    }
}